.map-container {
    position: relative;
  }
  
  .dropdown-container {
    position: absolute;
    top: 10px;
    left: 460px;
    z-index: 1;
    background-color: white;
    height: 3px;
  }

  #dropdown-basic{
    background-color: white;  
    color: black;
    height: 46px;
    border-radius: 10px;
    border: 2px solid black;
  }
  .leaflet-container{
    height : 100vh;
  }
  